  <li>
  	<%= link_to 'Edit', edit_election_roll_path(@election, roll) %>
    <%= link_to 'Destroy', election_roll_path(@election, roll), :confirm => 'Are you sure?', :method => :delete %>
    <%= link_to roll.name, election_roll_path(@election, roll) %>
  </li>
