<h2>Editing race</h2>

<% semantic_form_for( @race ) do |f| %>

<%= render :partial => 'form', :object => f %>

<% end %>

<p>
<%= link_to 'Show', race_path(@race) %> |
<%= link_to 'Back', election_races_path(@race.election) %>
</p>

