<h2>Listing races for <%=h @election %> election</h2>

<%= render :partial => "races", :object => @races %>

<hr />

<p>
<%= link_to "New race for #{@election.name} election", new_election_race_path( @election ) %> |
<%= link_to "Back", election_path( @election ) %>

