<h2>New race for <%=h @race.election.name %> election</h2>

<%= semantic_form_for @race, :url => election_races_path(@race.election) do |f| %>

<%= render :partial => 'form', :object => f %>

<% end %>

<p>
<%= link_to 'Back', election_races_path( @race.election ) %>
</p>

