<h2>Listing rounds for <%=h @race %> race</h2>

<table>
<thead>
  <tr>
    <th>Round</th>
    <% for candidate in @race.candidates %>
    <th><%=h candidate.name %></th>
    <% end %>
  </tr>
</thead>
<% for round in @rounds %>
  <tr>
  <td><%=h round.position %></td>
  <% for candidate in @race.candidates %>
  <td>
  <% if round.tallies.for_candidate(candidate).nil? %>
  X
  <% else %>
  <%=h round.tallies.for_candidate(candidate).tally %>
  <% end %>
  </td>
  <% end %>
  </tr>
<% end %>
</table>

