<h2>Editing election</h2>

<%= semantic_form_for(@election) do |f| %>

<%= render :partial => 'form', :object => f %>

<% end %>

<p>
<%= link_to 'Show', @election %> |
<%= link_to 'Back', elections_path %>
</p>

