<h2>Listing elections</h2>

<%= content_tag :p, paginate(@elections) %>

<%= render :partial => "elections/elections", :object => @elections %>

<%= content_tag :p, paginate(@elections) %>

<hr />

<p>
<%= link_to( 'New election', new_election_path ) if permitted_to? :create, Election.new %>
</p>

