<h2>Listing elections</h2>

<table id="elections">
  <thead>
  <tr>
    <th>Name</th>
   </tr>
  </thead>
  <tbody>
    <%= render :partial => 'election', :collection => @elections %>
  </tbody>
</table>

<br />

<p>
<%= link_to 'New election', new_election_path %>
</p>

