<h2>Listing current elections for <%=h current_user.name %></h2>

<% if @elections.empty? %>
<p>
<em>There are no elections remaining for you to vote in at this time.</em>
</p>
<% else %>
<p>
Please select the election in which you would like to vote.  You will proceed to a ballot.
</p>
<ul>
<%= render :partial => 'elections/my_election', :collection => @elections %>
</ul>
<% end %>

<% if current_user.elections.size > 0 %>
<p>
You previously voted in these elections:
</p>

<ul>
<%= render :partial => 'elections/ballot', :collection => current_user.ballots(:include => :election) %>
</ul>
<% end %>

