<tr>
  <td><%=h candidate.name %></td>
  <td>
    <%= link_to( candidate.name, candidate_path( candidate ) ) if candidate.may_user?(current_user, :show) %>
    <%= link_to 'Edit', edit_candidate_path( candidate ) if candidate.may_user?(current_user, :edit) %>
    <%= link_to( 'Destroy', candidate_path( candidate ), :confirm => 'Are you sure?',
          :method => :delete ) if candidate.may_user?(current_user, :destroy) %>
  </td>
</tr>

