<h2>Listing candidates for <%=h @race %></h2>

<table>
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
  <%= render :partial => 'candidate', :collection => @candidates %>
  </tbody>
</table>

<p>
<%= link_to( "New candidate", new_race_candidate_path( @race ) ) %> |
<%= link_to "Back", race_path( @race ) %>
</p>

