<h2>New candidate for <%=h @candidate.race %></h2>

<% semantic_form_for( @candidate, :url => race_candidates_path( @candidate.race ),
     :html => { :multipart => true } ) do |f| %>

<%= render :partial => 'form', :object => f %>

<% end %>

<p>
<%= link_to 'Back', race_candidates_path( @candidate.race ) %>
</p>

