<h1><%=h @candidate.name %></h1>
<% if @candidate.picture.file? %>
<%= image_tag @candidate.picture.url(:thumb), :alt => "Picture of #{@candidate.name}", :style => "float: left;" %>
<% end %>
<%=markdown @candidate.statement %>
<p style="clear: both;">
<a href="javascript:window.close()">close window</a>
</p>

