<h1><%=h @candidate.name %></h1>
<%= image_tag( election_race_candidate_path( @candidate.race.election,
                                             @candidate.race,
                                             @candidate,
                                             { :format => :jpg, :size => :thumb } ),
               :alt => "Picture of #{@candidate.name}",
               :style => "float: left;" ) %>
<%=markdown @candidate.statement %>
<p style="clear: both;">
<a href="javascript:window.close()">close window</a>
</p>