/*
 *= require_self
 *= require cornell-assemblies-rails
 *= require cornell-assemblies-branding
 */

.warning_messages {
  width: 400px;
  border: 2px solid #CFCF00;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.warning_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #cc0;
  color: #fff;
}

.warning_messages p {
  margin: 8px 10px;
}

.warning_messages ul {
  margin: 0;
}

