<%= form.error_messages %>

  <p>
    <%= form.label :net_id %><br/>
    <%= form.text_field_with_auto_complete( :net_id, { },
      { :url => roll_users_path(form.object.candidate.race.roll, { :format => :js }), :method => :get,
        :with => "'search=' + element.value"
      } ) %>
  </p>

