  <% table_row_tag do %>
    <td><%=h petitioner.user %></td>
    <td><%= link_to 'Show', petitioner_path( petitioner ) %></td>
    <td><%= link_to 'Edit', edit_petitioner_path( petitioner ) %></td>
    <td><%= link_to 'Destroy', petitioner_path( petitioner ), :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>

