<h2>Editing petitioner for <%= @petitioner.candidate %></h2>

<% semantic_form_for(@petitioner) do |f| %>

<%= render :partial => 'form', :object => f %>

<% end %>

<p>
<%= link_to 'Show', petitioner_path( @petitioner ) %> |
<%= link_to 'Back', candidate_petitioners_path( @petitioner.candidate ) %>
</p>

