<h2>New petitioner for <%= @petitioner.candidate %></h2>

<%= semantic_form_for( @petitioner,
  :url => candidate_petitioners_url( @petitioner.candidate ) ) do |f| %>

<%= render :partial => 'form', :object => f %>

<% end %>

<p>
<%= link_to 'Back', candidate_petitioners_path( @petitioner.candidate ) %>
</p>

