<p>
  <b>Candidate:</b> <%=h @petitioner.candidate %>
</p>

<p>
  <b>User:</b> <%=h @petitioner.user %>
</p>


<%= link_to 'Edit', edit_petitioner_path( @petitioner ) %> |
<%= link_to 'Back', candidate_petitioners_path( @petitioner.candidate ) %>

