<h2>Editing roll</h2>

<%= semantic_form_for @roll do |f| %>

<%= render :partial => 'form', :object => f %>

<% end %>

<p>
<%= link_to 'Show', roll_path( @roll ) %> |
<%= link_to 'Back', election_rolls_path( @roll.election ) %>
</p>

