<h2>Listing rolls for <%=h @election %></h2>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Voters</td>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'roll', :collection => @rolls %>
  </tbody>
</table>

<p>
	<%= link_to "Back to #{@election}", @election %> |
  <%= link_to 'New roll', new_election_roll_path(@election) %>
</p>

