<h2>Listing rolls for <%=h @election %></h2>

<%= render :partial => "rolls", :object => @rolls %>

<hr/>

<p>
	<%= link_to "Back to #{@election}", @election %>
<% if permitted_to? :create, @election.rolls.build -%>
	| <%= link_to 'New roll', new_election_roll_path(@election) %>
<% end -%>
</p>

