<h2>New roll for <%= @roll.election %></h2>

<%= semantic_form_for( @roll, :url => election_rolls_path(@roll.election) ) do |f| %>

<%= render :partial => 'form', :object => f %>

<% end %>

<p>
<%= link_to 'Back', election_rolls_path(@roll.election) %>
</p>

